{% extends "base.html" %}
{% block title %}
<title>Edit post</title>
{% endblock %}
{% block body %}
<h1>Edit post</h1>
<hr>
<h2>Edit:</h2>
<form action="/posts/edit/{{post.id}}" method="POST">

    <label for="title">Title:</label>
    <input class="form-control" type="text" value="{{ post.title }}" aria-label="Enter title" name="title" id="title">
    <br>
    <label for=" author">Author:</label>
    <input class="form-control" type="text" value="{{ post.author }}" aria-label="Enter your post" name="author"
        id="author">
    <label for="content">Post:</label>
    <textarea class="form-control" name="content" id="content" rows="3">{{ post.content }}</textarea>
    <br>
    <input type="submit" value="Save">
</form>
</hr>
{% endblock %}