{% extends "base.html" %}
{% block title %}
<title>App</title>
{% endblock %}
{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to my <code>blog</code>. I'll help you guys set up your first web application. I'm passionate
                about computer science and technology. Basics, frameworks, machine learning or data science stuff &
                more.
                <p>Have fun during the quarantine period coding. Check out</p>
                <p>
                    <a href="https://docs.python.org/3/tutorial/index.html">Python documentation</a> <br>
                    <a class="btn btn-primary" href="/posts" role="button">Go to Posts
                        &raquo;</a>
                </p>
        </div>
    </div>
</main>
{% endblock %}